<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>font-awesome:fa-wifi</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.LaunchBar.action.WiWiFiOnOff</string>
	<key>CFBundleName</key>
	<string>WiWi-Fi On/Off</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Minja</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBTwitter</key>
		<string>@Minja_Lin</string>
		<key>LBWebsiteURL</key>
		<string>https://github.com/BlackwinMin/launchbar-gallery</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBScriptName</key>
			<string>default.scpt</string>
		</dict>
	</dict>
</dict>
</plist>
