<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>font-awesome:fa-safari</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.LaunchBar.action.ExportSafariTab</string>
	<key>CFBundleName</key>
	<string>Export Safari Tab</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Minja</string>
		<key>LBEmail</key>
		<string></string>
		<key>LBTwitter</key>
		<string></string>
		<key>LBWebsiteURL</key>
		<string>minja.bitcron.com</string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.scpt</string>
		</dict>
	</dict>
</dict>
</plist>
